// @import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
// import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.destination {
  border: 1px solid #ddd;
  padding: 40px;
}

.title {
  padding-bottom: 20px;
}
